{%extends "wijhaApp/base.html"%}
{%load static%}

{% block commint %}

<div class="container pt-4">

    <!-- Pills content -->
    <div class="tab-content pt-4">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form method="POST">
          {% csrf_token %}
              <div class="form-label">
              <label class="control-label col-sm-2 tx-color" for="comment">التعليق</label>
              <div class="form-outline pt-4 mb-4">
                <textarea class="form-control" rows="5" id="comment" name="content"></textarea>
              </div>
            </div>
    
            <div class="pt-4">
          <!-- Submit button -->
          <button type="submit" class="btn bk-nav btn-block mb-4 tx-color" >إرسال </button>
      
      </div>
        </form>
      </div>
  
  
  </div>
  </div>

{% endblock %}