{%extends "wijhaApp/base.html"%}
{%load static%}

{% block addView %}

<div class="pt-4 container">
  <h3>إضافة وجهة جديدة</h3>
  <hr>
  <br>

    <form action="{% url 'wijhaApp:add_view' %}" method="POST">
        {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text"> أسم الوجهة </span>
        <input type="text" class="form-control" name="place_name">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">المدينة</span>
        <input type="text" class="form-control" name="city">
      </div>


      <div class="input-group pt-4">
        <span class="input-group-text">رأيك </span>
        <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
      </div>

      <div class="pt-4">
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">إرسال </button>
      <input type="submit" name="" >
      

    </div>



    </form>
</div>

{% endblock %}
