{%extends "wijhaApp/base.html"%}

{%load static%}

{% block title %}
<title>إدارة طلبات الوجهات</title>
{% endblock %}


{% block control %}

<div class="container pt-4">
    <table class="table pt-4">
        <thead>
            
        <tr>
            <th scope="col">قائمة الطلبات</th>
            <th scope="col">الاسم</th>
            <th scope="col">المكان</th>
            <th scope="col">الوقت</th>
            <th scope="col">تحرير</th>
        </tr>
        </thead>
        <tbody>
            {% for places in place%}
            <tr>
             
                <th scope="row"></th>
                <td> <a href="{% url 'wijhaApp:detail_manager' places.id %}"> {{ places.place_name }}</a></td>
                <td>{{ places.city }}</td>
                <td>{{ places.created_at }}</td>
                <td>

                </td>
            </tr>
         

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}


