{%extends "wijhaApp/base.html"%}
{%load static%}

{% block home %}


    <section id="home" class="imgbackgraond padse bg-cover hero-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="coo-12 ">
                  
                  <h1 class="display-4 tx-color text-dr">رأيك وجهة</h1>

                
                  <p class="my-4 text-dr tx-color">
    
                  
                   موقع رأيك وجهة يساعدك على تحديد وجهتك القادمة، <br>
                   تستطيع قراءة وجهات الناس واضافة وجهتك التي زرتها  <br>
                   وتذكر رأيك الايجابي هو وجهة شخص أخر  <br>
                  
                   
                  </p>
                  
                </div>
            </div>
        </div>
      </section>





{% endblock %}