{%extends "wijhaApp/base.html"%}
{%load static%}

{% block title %}
<title>الرئيسية</title>
{% endblock %}


{% block home %}


    <section id="home" class="imgbackgraond padse bg-cover hero-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="coo-12 ">
                  
                  <h1 class="display-4 tx-color text-dr">رأيك وجهة</h1>

                
                  <p class="my-4 text-dr tx-color">
    
                  
                   موقع رأيك وجهة يساعدك على تحديد وجهتك القادمة، <br>
                   تستطيع قراءة وجهات الناس واضافة وجهتك التي زرتها  <br>
                   
                  
                   
                  </p>
                  
                </div>
            </div>
        </div>
      </section>



  
      <section class="padse bk-nav">
        <div class="container">
          <div class="row">
            <div class="col-12 section-intro text-center">
            
              <h1 class="pt-4 tx-color " >  المضاف حديثاً</h1>
              <div class="divider pt-4"></div>
              <p>
           
              </p>
             
            </div>
          </div>
    
       
          <div class="row"> 
            {% for places in places %}
            <div class="col-md-4">     
              <div class="">
                <div class="">
                  <div class="icon">
                  </div>
                </div>
              </div>
                <h5 class="mt-5 pt-4 text-center"> <a class="tx-color" href="{% url 'wijhaApp:detail' places.id %}">{{ places.place_name }}</a></h5>
                <p class="text-center tx-color pt-4">
                  {{ places.city }}
                </p>
              </div>

              {% endfor %}
            
            </div>
          </div>
          </section>
      



{% endblock %}


